/* Fonts */
@font-face {
  font-family: "nyt-franklin";
  font-style: normal;
  font-weight: 700;
  src: url("https://typeface.nyt.com/fonts/nyt-franklin-700-normal.woff") format("woff");
}
@font-face {
  font-family: "nyt-franklin-normal";
  font-style: normal;
  font-weight: 300;
  src: url("https://typeface.nyt.com/fonts/nyt-franklin-300-normal.woff") format("woff");
}
@font-face {
  font-family: "nyt-franklin-500";
  font-style: normal;
  font-weight: 500;
  src: url("https://typeface.nyt.com/fonts/nyt-franklin-500-normal.woff") format("woff");
}
@font-face {
  font-family: "nyt-cheltenham-sh";
  font-style: normal;
  font-weight: 400;
  src: url("https://typeface.nyt.com/fonts/nyt-cheltenham-sh-400-normal.woff") format("woff");
}
@font-face {
  font-family: "nyt-cheltenham";
  font-style: italic;
  font-weight: 700;
  src: url("https://typeface.nyt.com/fonts/nyt-cheltenham-700-italic.woff") format("woff");
}
@font-face {
  font-family: "nyt-cheltenham-normal";
  font-style: normal;
  font-weight: 700;
  src: url("https://typeface.nyt.com/fonts/nyt-cheltenham-700-normal.woff") format("woff");
}
body, html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/*background-color: yellow;*/
}
/* Shadowing*/
.container, header, .top_links{
	box-shadow: 0 0 7px rgb(200,200,200);
}

.container{
	margin: 0 auto;
	width: 1605px;
	/*height: 1600px;*/
	/*height: 100%;*/
	position: relative;
	/*background-color: orange;*/
	padding-bottom: 48px;
}
header{
	position: fixed;
	top: 0;
	height: 48px;
	width: 1605px;
	/*background-color: grey;*/
	background-color: white;
}
/*.top_links{*/
.empty{
	position: relative;
	top: 48px;
	height: 94px;
	width: 100%;
	padding: 13px 0 13px 0;
	/*background-color: white;*/
	/*box-shadow: 0 0 7px rgb(200,200,200);*/
}

/*.empty{*/
.top_links{
	height: 82px;
	/*padding: 13px 0 13px 0;*/
	margin: 0;
	position: relative;
	top: 48px;
	/*background-color: white;*/
	box-shadow: 0 0 7px rgb(200,200,200);
}
article{
	/*height: 100%;*/
	width: 1125px;
	margin: 0 auto;
	position: relative;
	top: 48px;
	/*background-color: red;*/
	border-top: 1px solid rgb(51,51,51);
	box-sizing: border-box;
	padding-bottom: 20px;
}
.header_links{
	padding: 5px 9px 5px 9px;
	border: 1px white;
	font-family: "nyt-franklin";
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
	color: black;
	border-radius: 3px;
}
.l_links{
	float: left;
	margin-top: 8px;
	position: relative;
}
.r_links{
	float: right;
	margin: 9px 3px 9px 3px;
	padding: 8px 9px 8px 9px;
	background-color: rgb(98,136,165);
	border: 1px ;
	border-radius: 3px;
	color: white;
}
#central_logo{
	margin: 13px 300px 10px 440px;
}
#sections{
	position: absolute;
	left: -20px;
	margin-top: 10px;
	border: 1px solid rgb(226,226,226);
	border-radius: 3px;
	background: white;
}
#l_links_offset{
	margin-left: 75px;
}

.l_links:hover, #sections:hover{
	background-color:rgb(226,226,226);
}
#r_link_settings{
	margin: 15px 35px 10px 6px;
	padding: 0;
	background-color: white;
}
.r_links:hover{
	background-color: rgb(77,123,159);
}
ul, li, h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}
.t_links{
	width: 263px;
	height: 100%;
	list-style-type: none;
	display: inline-block;
	box-sizing: border-box;
	border-left: 1px solid rgb(200,200,200);
	padding: 5px 5px 5px 7px;
	margin-top: 4px;
}
.t_links:hover{
	text-decoration: underline;
}
.t_links a{
	text-decoration: none;
	color: rgb(51,51,51);
	font-family: "nyt-cheltenham-sh";
	font-size: 13px;
	font-weight: 300;
	line-height: 16px;
	float: left;
}
li img{
	float: left;
	margin-right: 10px;
}
.article_title{
	height: 160px;
	/*margin-bottom: 20px;*/
	/*background-color: rgb(230,210,210);*/
	position: relative;
	/*background-color: white;*/
}
h2{
	font-family: "nyt-franklin";
	font-size: 13px;
	font-weight: 700;
	padding-top: 5px;
	padding-bottom: 32px;
}
h1{
	font-family: "nyt-cheltenham";
	font-size: 34px;
	font-weight: 700;
	font-style: italic;
	padding-bottom: 10px;
}
h3{
	padding: 14px 0 14px 0;
	border-top: 1px solid rgb(200,200,200);
	font-family: "nyt-cheltenham-sh";
	font-size: 11px;
	line-height: 27px
}
h3 a img{
	float: right;
	padding: 0 7px 7px 7px;
	/*margin: 0 5px 5px 5px;*/
}
#f2_separator{
	border-left: 1px solid rgb(200,200,200);
}
figure{
	/*width: 1125px;
	height: 632px;*/
	padding: 0;
	margin: 0 0 90px 0;
	position: relative;
}
figure figcaption{
	width: 614px;
	font-family: "nyt-cheltenham-sh";
	font-size: 14px;
	font-weight: 300;
	color: rgb(102, 102, 102);
	line-height: 16px;
}
figure figcaption .credit{
	display: inline;
	font-size: 11px;
	line-height: 16px;

}
p, h4{
	margin: 0 0 17px 75px;
	color: rgb(51,51,51);
	font-family: georgia;
	font-size: 17px;
	line-height: 26px;
	width: 570px;
	position: relative;
}
p a{
	color: rgb(50,104,145);
	text-decoration-color: rgb(50,104,145);
}
h4{
	font-weight: 700;
}
aside{
	/*height: 281px;*/
	width: 360px;
	background-color: white;
	position: relative;
	float: right;
	top: 750px;
	border-top: 1px solid rgb(226,226,226);
	border-bottom: 1px solid rgb(226,226,226);
}
aside img{
	margin-top: 10px;
}
aside h6{
	padding-left: 5px;
	margin-bottom: 12px;
	color: rgb(50,104,145);
	font-family: 12px;
	font-family: "nyt-franklin";
	font-weight: 700;
	line-height: 15px;
	display: inline-block;
}
.c_author{
	color: black;
	font-family: 13px;
	font-family: "nyt-franklin";
	font-weight: 700;
	line-height: 15px;
	display: inline-block;
}
 .c_date{
	color: rgb(153,153,153);
	display:inline;
	font-size: 12px;
	font-family: "nyt-franklin-normal";
	font-weight: 300;
	line-height: 15px;
	display: inline-block;
}
.c_text{
	color: rgb(102,102,102);
	font-size: 12px;
	font-family: "nyt-franklin-normal";
	font-weight: 300;
	line-height: 16px;
	margin-bottom: 10px;
}
footer{
	width: 1050px;
	height: 420px;
	margin: 0 auto;
	/*margin: 35px 0 25px 0;*/
	background-color: white;
	border-top-width:3px;	
	border-top-style:double;
	border-top-color:rgb(226,226,226);
	position: relative;
	top: 48px;
}
#bottom_logo{
	margin: 5px 0 28px 0;
	display: block;
}
.footer_links{
	float: left;
	padding: 0;
	margin: 0 0 10px 10px;
	width: 145px;
	height: 16px;
	color: rgb(51,51,51);
	font-family:"nyt-franklin";
	font-weight: 700;
	font-size: 12px;
	line-height: 11px;
	letter-spacing: 0.65px;
	text-decoration: none;
	text-decoration-color: rgb(51,51,51);
}
.footer_links li{
	list-style-type: none;
	display: block;
	padding: 0;
	margin: 0 0 7px 10px;
}
.footer_links_a{

	width: 145px;
	height: 16px;
	border: none;
	color: black;
	font-family: "nyt-franklin-500";
	font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	text-decoration: none;
	text-decoration-color: black;
}
.footer_links_a:hover{
	text-decoration: underline;
}
.footnote{
	width: 185px;
	height: 305px;
	float: right;
	/*background-color: cyan;*/
	border-left: 1px solid rgb(226,226,226);
}
.footer_links_s{
	display: inline-block;
	margin-left: 6px;
	margin-bottom: 8px;
	color: rgb(51,51,51);
	font-family: "nyt-franklin";
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	text-decoration-color: rgb(51,51,51);
}
.footer_links_xs{
	margin-left: 6px;
	margin-bottom: 3px;
	display: block;
	font-family: "nyt-franklin-500";
	font-size: 11px;
	font-weight: 500;
	line-height: 15px;
	color: black;
	text-decoration: none;
	text-decoration-color: black;
}
#footer_separator{
	border-bottom: 1px solid rgb(226,226,226);
	margin: 6px 0;
}
.footer_links_s:hover, .footer_links_xs:hover{
	text-decoration: underline;
}
.fig2{
	height: 673;
	width: 945px;
	padding: 15px 0;
	margin: 15px 0;
	/*background-color: yellow;*/
	position: relative;
}
.fig2_header{
	margin-bottom: 3px;
	font-family: "nyt-cheltenham-normal";
	font-size: 20px;
	line-height: 24px;
	color: rgb(51,51,51);
	font-weight: 700;
	margin-left: 0;
}
.fig2_header_2{
	margin-bottom: 10px;
	font-family: "nyt-cheltenham-sh";
	font-size: 14px;
	line-height: 18px;
	color: rgb(102,102,102);
	font-weight: 400;
	width: 945px;
	margin-left: 0;
}
.fig2_box{
	width: 224px;
	position: absolute;
	display: inline-block;
	/*background-color: orange;*/
	color: black;
	font-family: "nyt-franklin-normal";
	font-size: 14px;
	line-height: 17px;
}
.fig2_box h5{
	font-family: "nyt-franklin";
	font-weight: 700;
	display: inline;
	margin-right: 5px;
}
#box1{
	top: 220px;
	left: 0;	
}
#box2{
	top: 220px;
	left: 240px;
}
#box3{
	top: 220px;
	left: 480px;
}
#box4{
	top: 220px;
	left: 720px;
}
#box5{
	top: 505px;
	left: 0px;
}
#box6{
	top: 505px;
	left: 240px;
}
#box7{
	top: 505px;
	left: 480px;
}
#box8{
	top: 505px;
	left: 720px;
}